<!--
  Generated template for the ContactusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<img src="assets/img/header-logo.png" alt="" class="img-responsive header-logo">
		</ion-title>
	</ion-navbar>
</ion-header>


<ion-content class="contactus-main">
	<div class="bg-gradient"></div>
	<ion-card class="card-detail">
		<ion-card-content>
			Meet The Next Generation Of Drinking Water,<br>Using The Mostadvanced Technology
		</ion-card-content>
	</ion-card>
	<ion-grid>
		<ion-row>
			<ion-col col-12>
				<div class="contact-view">
					<h2 class="contact-title caps-title">Get In Touch</h2>
					<div class="icon-wrapper">
						<span class="ico-item"><ion-icon class="ico" name="pin"></ion-icon></span>
						<h3 class="ico-title">Address</h3>
						<p class="ico-addr">201-B, Raheja Plaza I, B-Wing, 2nd Floor,L.B.S Marg, Ghatkopar (W) Mumbai-400086, INDIA. </p>
					</div>
					<div class="icon-wrapper">
						<span class="ico-item">
							<ion-icon name="phone-portrait" class="ico"></ion-icon>
						</span>
						<h3 class="ico-title">Phone</h3>
						<p class="ico-addr"><a href="tel:+918655514444" target="_blank">+91 8655514444</a> | <a href="tel:+912225007002">+91 22 25007002</a></p>
					</div>
					<div class="icon-wrapper">
						<span class="ico-item">
							<ion-icon name="mail" class="ico"></ion-icon>
						</span>
						<h3 class="ico-title">Mail</h3>
						<p class="ico-addr"><a href="mailto:info@aquatatva.com" target="_blank">info@aquatatva.com</a></p>
					</div>
					<div class="social-icon">
						<span>	
							<a href="https://www.facebook.com/AquaTatva-216713322123964/" target="_blank" title="Facebook">
								<img src="assets/img/facebook.png" width="35" alt="">
							</a> 
							<a href="https://twitter.com/aquatatva" target="_blank" title="Twitter">
								<img src="assets/img/twitter.png" alt="" width="35">
							</a> 
							<a href="https://www.linkedin.com/company-beta/13262288/" target="_blank" title="Linkedin">
								<img src="assets/img/lindekin.png" alt="" width="35">
							</a>
						</span>	
					</div>
				</div>
				<div class="map-view">
					<p>Find us on </p>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.295732481776!2d72.91505531548299!3d19.094677987077247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c7c94f1b74f7%3A0xa2bd7c373a4f34c9!2sAquaTatva!5e0!3m2!1sen!2sin!4v1497516373820" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

	<div class="contactus-detail" hidden>
		<div class="icon-contactus">
			<span>
				<img src="assets/img/old-handphone.png" alt="" class="" width="30px">
			</span>
		</div>
		<h3 class="color-dark-blue">Contact us</h3>
		<div class="address-detail">
			<address>
				<span>Location :</span>
				<span>Mumbai - 400086, INDIA.</span>
				<span><!--<img src="" alt="" class="icon-call">--><a href="tel:+91000000000" target="_blank">+91 0000000000</a> | <a href="tel:+912225252525">+91 222 25252525</a></span>
				<span><!--<img src="" alt="" class="icon-mail">--> <a href="mailto:loremipsum.com" target="_blank">loremimpsum.com</a></span>
				<span>Find us on : <a href="" target="_blank" title="Facebook">Facebook</a> | <a href="" target="_blank" title="Twitter">Twitter</a> | <a href="" target="_blank" title="Linkedin">Linkedin</a></span>
			</address>
		</div>
	</div>
	<div class="circular-menu" hidden>
		<div class="open-menu">
			<span class="menu-option">+</span>
			<!-- <img src="" alt="" class="img-responsive"> -->
			<ul>
				<li><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
				<li><a href="">6</a></li>
			</ul>
		</div>		
	</div>
</ion-content>
