page-contactus {
	.social-icon {
		text-align: center;
		span, a {
			margin: 0 5px;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.map-view {
		iframe {		
			border-radius: 6px;
			overflow: hidden;
		}
		p {
			color: $cream;
			font-size: 2rem;
			text-align: center;
		}
	}
	.contactus-main{
		position: relative;
		background-color: $dark-blue;
	}
	.contactus-detail {
		width: 80vw;
		height: 80vw;
		padding: 15px 0 0;
		border-radius: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background-color: $cream;
		text-align: center;
		h3 {
			margin: 1.2rem 0;
		}
	}
	.icon-contactus {
		padding: 12px;
		border-radius: 100%;
		display: inline-block;
		background-color: #ffebd5;
		span {
			padding: 12px;
			border: 3px solid $dark-blue;
			border-radius: 100%;
			display: inline-block;
		}
	}
	.address-detail {
		width: 80%;
		padding: 10px;
		border: 2px solid $dark-blue;
		border-radius: 10px;
		margin: 0 auto;
		background-color: #ffebd5;
		text-align: left;
		span {
			margin: 0 0 5px;
			color: $dark-blue;
			display: block;
			font-style: normal;
			font-size: 1.3rem;
			font-weight: 500;
		}
		a {
			color: $dark-blue;
			text-decoration: none;
			&:focus {
				text-decoration: none;
			}
		}
	}
	span.ico-item {
		display: block;
		height: 50px;
		width: 50px;
		   background: #e6d2bd;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		margin: 0 auto;
		position: relative;
		margin-bottom: 15px;
		.ico {
			transform: translate(-50% , -50%);
			-moz-transform: translate(-50% , -50%);
			-webkit-transform: translate(-50% , -50%);
			-ms-transform: translate(-50% , -50%);
			-o-transform: translate(-50% , -50%);
	
			position: absolute;
			left: 50%;
			top: 50%;
			font-size: 30px;
			color: #fff;
		}
	}
	.icon-wrapper {
		text-align: center;
		color: #000;
		font-size: 16px;
		line-height: 22px;
		.ico-title {
			text-transform: uppercase;
		}
		.ico-addr {
			padding: 0 60px;
			a{
				color: #000;
				text-decoration: none;
			}
		}
	}
	.social-icon{
		padding-bottom: 15px;
	}
	.caps-title{
		text-transform:uppercase;
	}
	.contact-title{
		color:#000;
		padding-top: 20px;		
	}
	.contact-view {
		background: #dabd9d;
		border-radius: 10px;
	}
}
.contact-title {
	color: $cream;
	font-size: 2.9rem;
	text-align: center;
}
.address-view {
	padding: 10px;
	border-radius: 6px;
	font-style: normal;
	background-color: #dabd9d;
	p {
		color: $dark-blue; 
	 span:first-child {
	 	width: 8%;
	 	display: inline-block;
	 	text-align: center;
	 	vertical-align: top;
	 }
	 span:nth-child(2){
	 	width: 4%;
	 	display: inline-block;
	 	margin-left: -4px;
	 	text-align: center;
	 	vertical-align: middle;
	 }
	 span:last-child{
	 	width: 88%;
	 	padding-left: 5px;
	 	display: inline-block;
	 	margin-left: -4px;
	 	vertical-align: middle;
	 }
	}
	a {
		color: $dark-blue;
		text-decoration: none;
	}
}

