
.bg-gradient {
	/*margin:-1px;*/
  /*padding:1px;*/
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/*background: url('../assets/img/background-water.jpg') no-repeat 50% 50%;*/
	background: url('../assets/img/background-main.png') no-repeat 50% 50%;
	background-color: #000;
	background-attachment: fixed;
	z-index: -1;
	/*filter: blur(1px);*/
	-webkit-background-size: cover;
	background-size: cover;
	&:before {
		content: '';
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(21, 20, 38, 0.5);
	}
}
.logo {
	text-align: center;
}
.form-group {
	margin-bottom: 15px;
}
.form-control {
	width: 100%;
	height: 45px;
	padding: 6px 12px;
	border-radius: 6px;
	border: none;
}
.email, .password, .signup-input, .input-all{
	position: relative;
	.icon-set {
		position: absolute;
		top: 12px;
		left: 6px;
		i {
			font-size: 17px;
		}
	}
	input, textarea {
		padding: 6px 12px 6px 32px;
		background-color: rgba(255,255,255,0.85);
		border: 1px solid transparent;
		transition: all 200ms linear;
		color: $dark-blue;
		/*&:focus {
		border: 1px solid rgba(218, 189, 157, 0.5);
		color: $cream;
		background: rgba(21, 20, 38, 0.5);
		transition: all 200ms linear;
		}*/
	}
	textarea {
	 min-height: 80px;
	 resize: none;
	}
}
.login-button, .submit-button {
		text-align: center; 
	button {
		padding: 12px 56px;
		border: none;
		border-radius: 4px;
		margin: 10px 0 0;
		font-size: 1.7rem;
		background-color: rgba(218, 189, 157, 0.8);
		color: $dark-blue;
	}
}
.forgot-password {
	margin: 5px 0;
	color: #fff;
	text-align: right;
}
.seperater {
	margin: 25px 0;
	display: block;
	font-size: 2rem;
	color: #fff;
	text-align: center;
}
.login-strip {
	color: #fff;
	display: block;
	font-size: 2.3rem;
	text-align: center;
	position: relative;
	&:before, &:after {
		content: '';
		width: 25%;
		height: 2px;
		background-color: #fff;
		position: absolute;
		top: 15px;
	}
	&:before { left: 0; }
	&:after { right: 0; }
}
.social-logins {
	margin: 15px 0 0;
	text-align: center;
	span {
		display: inline-block;
		margin: 0 10px; 
	}
}
/*signup*/
.sign-up {
	width: 100%;
	position: absolute;
	bottom: 0;
	margin: 10px 0 0;
	text-align: center;
	button {
		width: 100%;
		padding: 14px 34px;
		color: $dark-blue;
		font-size: 1.7rem;
		background-color: rgba(218, 189, 157, 0.8);
	}
}
/*signup*/ 
/*.loginpage-content {
	background-color: $dark-blue;
}
.login-title {
	margin: 0 0 1rem;
	font-size: 2.6rem;
	text-align: center;
	text-transform: uppercase;
}
.login-page {
	width: 99vw;
	height: 99vw;
	border-radius: 100%;
	margin: 0px auto;	
	background-color: $cream;
	position: relative;
	transform: translate(0,-68%);
}


.login-form {
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.email, .password {
	position: relative;
	input {
		padding: 6px 12px 6px 44px;
		border: 1px solid $dark-blue;
		border-radius: 25px;
		background-color: transparent;
	}
	.icon-set {
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);
	}
	i { font-size: 18px; }
}
.password { margin: 0; }
.forgot {
	text-align: right;
	span {
		margin: 5px 0;
		display: block;
		font-size: 12px;
		color: $dark-blue;
		cursor: pointer;
	}
}
.login-button {
		text-align: center;
	button {
		padding: 9px 34px;
		border-radius: 25px;
		margin: 20px 0 0;
		font-size: 1.7rem;
	}
}
.login-down {
	margin: 20px 0; 
}*/
/*signup*/
/*.signup-section {
	width: 80%;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-80%);
}
.signup-title {
	margin: 0 0 1rem;
	color: $cream;
	font-size: 2.6rem;
	text-align: center;
}
.signup-input {
	input {
		padding: 6px 12px 6px 44px;
		border-radius: 25px;
		background-color: $cream;
		color: $dark-blue;
	}
}

.other-login {
	margin: 15px 0;
	font-size: 1.7rem;
	color: $cream;
	text-align: center;
}*/
/*signup end*/

/*circular menu*/
.circular-menu {
	ul {
		padding: 0;
		margin: 0;
		text-align: center;
	}
	li {
		display: inline-block;
		list-style-type: none;
		position: absolute;
		top: 7px;
		left: 7px;
		transition: all 300ms linear;
		/*&:nth-child(1){
			transform: translate(-61px, 13px);
		}
		&:nth-child(2){
			transform: translate(-51px, -33px);
		}
		&:nth-child(3){
			transform: translate(-15px, -70px);
		}
		&:nth-child(4){
			transform: translate(40px, -71px);
		}
		&:nth-child(5){
			transform: translate(73px, -33px);
		}
		&:nth-child(6){
			transform: translate(88px, 13px);
		}*/
	}
	a {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		display: inline-block;
		line-height: 40px;
		font-weight: 700;
		color: $dark-blue;
		background-color: $cream;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		&:focus {
			text-decoration: none;
		}
	}
}
.menu-option {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	display: inline-block;
	line-height: 80px;
	background-color: $cream;
	color: $dark-blue;
	font-size: 35px;
	text-align: center;
	position: relative;
	z-index: 1;
}
.open-menu {
	width: 80px;
	margin: 0px auto;
	/*tmp*/
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
	&:hover {
		li {
			transform: translate(-61px, 13px);
			&:nth-child(1){
			transform: translate(-61px, 13px);
			transition: all 300ms 100ms linear;
		}
		&:nth-child(2){
			transform: translate(-51px, -33px);
			transition: all 300ms 120ms linear;
		}
		&:nth-child(3){
			transform: translate(-15px, -70px);
			transition: all 300ms 130ms linear;
		}
		&:nth-child(4){
			transform: translate(40px, -71px);
			transition: all 300ms 140ms linear;
		}
		&:nth-child(5){
			transform: translate(73px, -33px);
			transition: all 300ms 150ms linear;
		}
		&:nth-child(6){
			transform: translate(88px, 13px);
			transition: all 300ms 160ms linear;
		}
		}
	}
	/*tmp end*/
	&.opened-menu {
		li {
			transition: all 300ms linear;
			transform: translate(-61px, 13px);
			&:nth-child(1){
			transform: translate(-61px, 13px);
		}
		&:nth-child(2){
			transform: translate(-51px, -33px);
		}
		&:nth-child(3){
			transform: translate(-15px, -70px);
		}
		&:nth-child(4){
			transform: translate(40px, -71px);
		}
		&:nth-child(5){
			transform: translate(73px, -33px);
		}
		&:nth-child(6){
			transform: translate(88px, 13px);
		}
		}

	}
}
/*circular menu end*/
