<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar> -->
  <!-- <ion-navbar>
  	<button ion-button menuToggle>
  		<ion-icon name="menu"></ion-icon>
  	</button>
  	<ion-title>Home</ion-title>
  </ion-navbar> -->
</ion-header>


<ion-content class="loginpage-content">
	<div class="bg-gradient"></div>
	<!-- <div class="login-page">
			<div class="login-form">
			<h3 class="login-title color-dark-blue">Log in</h3>
			<form action="">
				<div class="form-group email">
					<span class="icon-set"><i class="fa fa-envelope color-dark-blue"></i></span>
					<input type="email" class="form-control" placeholder="Enter Email Address">
				</div>
				<div class="form-group password">
					<span class="icon-set"><i class="fa fa-lock color-dark-blue"></i></span>
					<input type="password" class="form-control" placeholder="Enter Password">
				</div>
				<div class="forgot">
					<span>Forgot Password ?</span>
				</div>
				<div class="login-button">
					<button class="btn btn-blue-outline">Log in</button>
				</div>
			</form>			
		</div>
	</div>
	<div class="signup-section">
		<div class="signup-form">
			<h3 class="signup-title">Sign up</h3>
			<form action="">
				<div class="form-group signup-input">
					<span class="icon-set"><i class="color-dark-blue"></i></span>
					<input type="text" class="form-control" placeholder="Username">
				</div>
				<div class="form-group signup-input">
					<span class="icon-set"><i class="color-dark-blue"></i></span>
					<input type="text" class="form-control" placeholder="Mobile No.">
				</div>
				<div class="form-group signup-input">
					<span class="icon-set"><i class="color-dark-blue"></i></span>
					<input type="text" class="form-control" placeholder="Email Address">
				</div>
				<div class="form-group signup-input">
					<span class="icon-set"><i class="color-dark-blue"></i></span>
					<input type="text" class="form-control" placeholder="Password">
				</div>
				<div class="signup-button">
					<button class="btn btn-cream-outline">Sign Up</button>
				</div>
				<div class="other-login">
					<span>OR <br>Sign Up Using</span>
				</div>
			</form>
		</div>
	</div>
	<div class="circular-menu">
		<div class="open-menu">
			<span class="menu-option">+</span>
			<ul>
				<li><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
				<li><a href="">6</a></li>
			</ul>
		</div>		
	</div> -->
	<div class="login-page">
		<div class="logo">
			<h1><img src="assets/img/logo.png" alt=""></h1>
		</div>
		<!-- login form -->
		<div class="login-form">
			<ion-grid>
				<ion-row>
					<ion-col col-1></ion-col>
					<ion-col col-10>
						<form #loginForm ="ngForm" (ngSubmit)="login(loginForm.value)">
							<div class="form-group email">
								<span class="icon-set"><img src="assets/img/close-envelope.png" alt="Email" height="20"></span>
								<input type="email" class="form-control" placeholder="Enter Email Address" name="email" [(ngModel)]="loginForm.email" #email ="ngModel" required>
								<div class="error-display" *ngIf="email.errors && (email.dirty || email.touched)">
									<div [hidden]="!email.errors.required">
										Please Enter the Email!
									</div>
								</div>
							</div>
							<div class="form-group password">
								<span class="icon-set"><img src="assets/img/padlock.png" alt="Password" height="20"></span>
								<input type="password" class="form-control" placeholder="Enter Password" name="password" [(ngModel)]="loginForm.password" #password="ngModel" required>
								<div class="error-display" *ngIf="password.errors && (password.dirty || password.touched)">
									<div [hidden]="!password.errors.required">
										Please Enter the Password!
									</div>
								</div>
							</div>
							<div class="forgot-password">
								<span>Forgot Password ?</span>
							</div>
							<div class="login-button">
								<button class="btn btn-blue-outline" [disabled]="!loginForm.valid">Log in</button>
							</div>
						</form>						
						<span class="seperater">OR</span>
						<div class="login-with">
							<span class="login-strip">Login with</span>
							<div class="social-logins">
								<span (click)="facebookAuth()"><img src="assets/img/facebook.png" alt="Facebook" class="img-responsive" width="50"></span>
								<span (click)="googleAuth()"><img src="assets/img/google-plus.png" alt="Google" class="img-responsive" width="50"></span>
							</div>
						</div>
					</ion-col>
					<ion-col col-1></ion-col>
				</ion-row>
			</ion-grid>
			<div class="sign-up">
				<button class="signup-button" (click)="signupRedirect()">Sign Up</button>
			</div>
		</div>
		<!-- login form end-->
	</div>
</ion-content>
