<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<img src="assets/img/header-logo.png" alt="" class="img-responsive header-logo">
		</ion-title>
	</ion-navbar>
</ion-header>


<ion-content class="order-main support-main">
	<div class="bg-gradient"></div>
	<ion-card class="card-detail">
		<ion-card-content>
			<span>ORDER YOUR ACCESSORY</span>
		</ion-card-content>
	</ion-card>
	<ion-grid>
		<ion-row>
			<ion-col col-1></ion-col>
			<ion-col col-10>
				<div class="support-card order-card">
					<form #orderForm="ngForm" (ngSubmit)="formOrder(orderForm.value,orderForm);">
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/man-user.png" alt="" height="20"></span>
							<input type="text" class="form-control" name="fullName" [(ngModel)]="orderForm.fullName"  placeholder="Name" #fullName="ngModel" required>
							<div class="error-display" *ngIf="fullName.errors && (fullName.dirty || fullName.touched)">
								<div [hidden]="!fullName.errors.required">
									Please Enter your Name!
								</div>
							</div>
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/icon.png" alt="" height="20"></span>
							<input type="tel" class="form-control" placeholder="Contact No." name="phone" [(ngModel)]="orderForm.phone" #phone="ngModel" required>
							<div class="error-display" *ngIf="phone.errors && (phone.dirty || phone.touched)">
								<div [hidden]="!phone.errors.required">
									Please Enter the Contact Number!
								</div>
							</div>
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/close-envelope.png" alt="" height="20"></span>
							<input type="email" class="form-control" placeholder="Email Id" name="email" [(ngModel)]="orderForm.email" #email="ngModel" required>
							<div class="error-display" *ngIf="email.errors && (email.dirty || email.touched)">
								<div [hidden]="!email.errors.required">
									Please Enter the Email Address!
								</div>
							</div>
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/location.png" alt="" height="20"></span>
							<input type="text" class="form-control" placeholder="City" name="city" [(ngModel)]="orderForm.city" #city="ngModel" required>
							<div class="error-display" *ngIf="city.errors && (city.dirty || city.touched)">
								<div [hidden]="!city.errors.required">
									Please Enter your City!
								</div>
							</div>
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/location.png" alt="" height="20"></span>
							<input type="text" class="form-control" placeholder="State" name="state" [(ngModel)]="orderForm.state" #state="ngModel" required>
							<div class="error-display" *ngIf="state.errors && (state.dirty || state.touched)">
								<div [hidden]="!state.errors.required">
									Please Enter your State!
								</div>
							</div>
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/notebook.png" alt="" height="20"></span>
							<input type="text" class="form-control" placeholder="Address" name="address" [(ngModel)]="orderForm.address" #address="ngModel" required>
							<div class="error-display" *ngIf="address.errors && (address.dirty || address.touched)">
								<div [hidden]="!address.errors.required">
									Please Enter your Address!
								</div>
							</div>
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/type.png" alt="" height="20"></span>
							<!-- <input type="text" class="form-control" placeholder="Accessory Type" name="accessory" [(ngModel)]="orderForm.accessory" #accessory="ngModel" required>
							<div class="error-display" *ngIf="accessory.errors && (accessory.dirty || accessory.touched)">
								<div [hidden]="!accessory.errors.required">
									Please Enter the Accessory Type!
								</div>
							</div> -->
							<!-- <select name="accessory" class="" [(ngModel)]="orderForm.accessory" #accessory="ngModel" multiple required>
								<option [value]="option" *ngFor="let option of orderOption">{{option}}</option>
							</select>	 -->
							<span class="order-select" (click)="showAccessoryType = !showAccessoryType">Accessory Type</span>										
						</div>
						<!-- <div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/stack-overflow.png" alt="" height="20"></span>
							<input type="text" class="form-control" placeholder="Accessory Quantity" name="quantity" [(ngModel)]="orderForm.quantity" #quantity="ngModel" required>
							<div class="error-display" *ngIf="quantity.errors && (quantity.dirty || quantity.touched)">
								<div [hidden]="!quantity.errors.required">
									Please Enter the Quantity!
								</div>
							</div>
						</div> -->
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/serial.png" alt="" height="20"></span>
							<input type="text" class="form-control" placeholder="Machine Serail Number" name="serialnumber" [(ngModel)]="orderForm.serialNumber" #serialNumber="ngModel" required>
							<div class="error-display" *ngIf="serialNumber.errors && (serialNumber.dirty || serialNumber.touched)">
								<div [hidden]="!serialNumber.errors.required">
									Please Enter the Serial Number!
								</div>
							</div>
						</div>
						<div class="submit-button">
							<button class="btn btn-blue-outline" [disabled]="!orderForm.valid">Submit</button>
						</div>
					</form>
				</div>
				<div class="alert-pop" *ngIf="message" role="alert">
					<p>Order Request Successfully Registered! </p>
				</div>
				<!-- set accessory type -->
				<div class="set-order" [hidden]="!showAccessoryType">
					<div class="show-type">
						<ul>
							<li *ngFor="let option of orderOption; let i=index">
								<span>{{option.name}}</span>
								<input type="number" [(ngModel)]="option.quantity" />
								<span class="check-box {{option.class}}" (click)="addAccessory(option,i);">
									<img src="assets/img/done-tick.png" alt="">
								</span>
							</li>
						</ul>
					</div>
					<div class="modal-sec">
						<span class="cancel-access btn-blue-outline" (click)="showAccessoryType = !showAccessoryType">Ok</span>
					</div>
				</div>
				<div class="modal-close" [hidden]="!showAccessoryType" (click)="showAccessoryType = !showAccessoryType"></div>

				<!-- set accessory type end-->
			</ion-col>
			<ion-col col-1></ion-col>
		</ion-row>
	</ion-grid>
<!-- 	<div class="order-form">
		<ion-grid>
			<ion-row>
				<ion-col col-1></ion-col>
				<ion-col col-10>
					<form action=""></form>
				</ion-col>
				<ion-col col-1></ion-col>
			</ion-row>
		</ion-grid>
	</div> -->
</ion-content>
