<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<img src="assets/img/header-logo.png" alt="" class="img-responsive header-logo">
		</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>
	<div class="bg-gradient"></div>
	<!-- <div class="logo">
		<h1><img src="assets/img/logo.png" alt=""></h1>
	</div> -->
	<ion-grid>
		<ion-row>
			<ion-col col-1></ion-col>
			<ion-col col-10>
				<span class="edit-profile" (click)="editProfile();">Edit</span>
				<!-- <div class="user-profile" style="display: none;">
					<form #userForm="ngForm" (ngSubmit)="userProfile(userForm.value)">
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/man-user.png" alt="" height="20"></span>
							<input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="userForm.name" #name="ngModel" required>
							<div class="error-display" *ngIf="name.errors && (name.dirty || name.touched)">
								<div [hidden]="!name.errors.required">
									Please Enter the name!
								</div>
							</div>
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/close-envelope.png" alt="" height="20"></span>
							<input type="text" class="form-control" placeholder="Email Id" name="email" [value]="userData.email" [(ngModel)]="userForm.email" #email="ngModel" required>
							<div class="error-display" *ngIf="email.errors && (email.dirty || email.touched)">
								<div [hidden]="!email.errors.required">
									Please Enter the Email!
								</div>
							</div>
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/icon.png" alt="" height="20"></span>
							<input type="number" class="form-control" placeholder="Contact No." name="contact" [(ngModel)]="userForm.contact" #contact="ngModel" required>
							<div class="error-display" *ngIf="contact.errors && (contact.dirty || contact.touched)">
								<div [hidden]="!contact.errors.required">
									Please Enter the Number!
								</div>
							</div>
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/man-user.png" alt="" height="20"></span>
							<textarea type="text" class="form-control" placeholder="Address" name="address" [(ngModel)]="userForm.address" #address="ngModel" required></textarea>
							<div class="error-display" *ngIf="address.errors && (address.dirty || address.touched)">
								<div [hidden]="!address.errors.required">
									Please Enter the Address!
								</div>
							</div>
						</div>
						<div class="login-button submit-button">
							<button class="btn btn-blue-outline" [disabled]="!userForm.valid">Submit</button>
						</div>
					</form>
				</div> -->
				<form #userForm="ngForm" (ngSubmit)="userProfile(userData)">
					<div class="user-data">
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/man-user.png" alt="" height="20"></span>
							<input type="text" class="form-control" [value]="userData.fname" name="fname" [(ngModel)]="userData.fname" #fname = "ngModel" placeholder="First Name"  [disabled]="editView">
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/man-user.png" alt="" height="20"></span>
							<input type="text" class="form-control" [value]="userData.lname" placeholder="Last Name" name="lname" [(ngModel)]="userData.lname" #lname = "ngModel" [disabled]="editView">
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/man-user.png" alt="" height="20"></span>
							<input type="text" class="form-control" [value]="userData.phone" placeholder="Contact No" name="phone" [(ngModel)]="userData.phone" #phone = "ngModel"  [disabled]="editView">
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/man-user.png" alt="" height="20"></span>
							<input type="text" class="form-control" [value]="userData.email" name="email" [(ngModel)]="userData.email" #email = "ngModel" placeholder="Email" disabled>
						</div>
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/man-user.png" alt="" height="20"></span>
							<input type="text" class="form-control" [value]="userData.city" name="cityname" [(ngModel)]="userData.city" #cityname = "ngModel" placeholder="City" [disabled]="editView">
						</div>	
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/man-user.png" alt="" height="20"></span>
							<input type="text" class="form-control" [value]="userData.state" name="statename" [(ngModel)]="userData.state" #statename = "ngModel" placeholder="State" [disabled]="editView">
						</div>	
						<div class="form-group input-all">
							<span class="icon-set"><img src="assets/img/man-user.png" alt="" height="20"></span>
							<textarea type="text" class="form-control" [value]="userData.address" name="add" [(ngModel)]="userData.address" #add = "ngModel" placeholder="Address"  [disabled]="editView"></textarea>
						</div>				
					</div>
					<div class="login-button submit-button">
						<button class="btn btn-blue-outline" [disabled]="!userForm.valid">Submit</button>
					</div>
				</form>
			</ion-col>
			<ion-col col-1></ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
