page-support {
	
}
.support-main {
	background-color: $dark-blue;
}
.support-card {
	/*background-color: $cream;*/
	.list-md {
		padding-bottom: 3rem;
		margin: 0;
	}
	.item-md {
		padding: 0 15px;
		background-color: $cream;
	}
	.list-md .item-block .item-inner {
		border-bottom: 1px solid $dark-blue;
	}
	.item-input .label-md {
		margin-top: 1rem;
		color: $dark-blue;
		font-size: 1.7rem;
		font-weight: 700;
	}
	.item-md.item-input.item-input-has-focus:last-child .item-inner, .item-md-item-input.input-has-focus:last-child  .item-inner {
		border-bottom: none;
		box-shadow: none;
	}
	.item-md.item-input.item-input-has-focus .item-inner, .item-md-item-input.input-has-focus .item-inner{
		border-bottom: 1px solid $dark-blue;
		box-shadow: none;
	}	
	ion-input[type="file"] {
		opacity: 0;
	}
	.list-md .item-input:last-child {
		border-bottom: none;
	}
	.example {
		font-size: 0.95rem; 
	}
}
.error-display {
	margin: 5px 0;
	color: #fff;
	font-size: 12px;
}
.alert-pop {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	transition: all 300ms linear;
	p {	
		width: 80%;
		padding: 15px 10px;
		border-radius: 6px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		background-color: #fff;
	}
}
.support-select {
	width: 100%;
	height: 45px;
	border-radius: 6px;
	padding-left: 30px;
	background-color: rgba(255, 255, 255, 0.85);
	max-width: 100%;
	
}

.choose-file {
	width: 100%;
	height: 45px;
	padding: 14px 12px 6px 32px;
  border: 1px solid transparent;
  border-radius: 6px;
  display: block;
  background-color: rgba(255, 255, 255, 0.85);
  color: #8c8c8d;
}
.choose-file + input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}