<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <img src="assets/img/header-logo.png" alt="" class="img-responsive header-logo">
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <img src="{{p.icon}}" alt="" class="img-responsive menu-icon" width="20">
        <span class="menu-title">{{p.title}}</span>
      </button>
      <button menuClose ion-item (click)="logout()">
        <!-- <img src="assets/img/turn-off.png" class="img-responsive menu-icon" width="20"> -->
        <span class="menu-title">Logout</span>
      </button>
    </ion-list>
    <div class="social-icon">
      <span>
        <a href="https://www.facebook.com/AquaTatva-216713322123964/" target="_blank" title="Facebook">
          <img src="assets/img/facebook.png" width="35" alt="">
        </a> 
        <a href="https://twitter.com/aquatatva" target="_blank" title="Twitter">
          <img src="assets/img/twitter.png" alt="" width="35">
        </a> 
        <a href="https://www.linkedin.com/company-beta/13262288/" target="_blank" title="Linkedin">
          <img src="assets/img/lindekin.png" alt="" width="35">
        </a>
      </span>
    </div>  
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<ion-footer class="cust-footer">
  <ion-toolbar>
    <ion-title>Powered by Bit Bytes</ion-title>
  </ion-toolbar>
</ion-footer>